<div class="col-md-3">
     <a href="/admin/dashboard"><button class="btn btn-danger form-control mt-3">Home</button></a>
    <a href="/admin/banner"><button class="btn btn-danger form-control mt-2">Banner management</button></a>
    <a href="/admin/Service"><button class="btn btn-danger form-control mt-2">Service management</button></a>
    <a href="/admin/query"><button class="btn btn-danger form-control mt-2">Query management</button></a>
    <a href="/admin/testi"><button class="btn btn-danger form-control mt-2">Testimonials management</button></a>
    <a href="/admin/contact"><button class="btn btn-danger form-control mt-2 mb-3">Contact management</button></a>
</div>